HOME_UI_HOSTNAME: "{{ requiredEnv "HOME_PROD_UI_HOSTNAME" }}"
HOME_UI_BASE_EXTERNAL_URL: "{{ requiredEnv "HOME_PROD_UI_BASE_EXTERNAL_URL" }}"

HOME_CMS_HOSTNAME: "{{ requiredEnv "HOME_PROD_CMS_HOSTNAME" }}"
HOME_CMS_BASE_EXTERNAL_URL: "{{ requiredEnv "HOME_PROD_CMS_BASE_EXTERNAL_URL" }}"

HOME_AWS_ACCESS_KEY_ID: "{{ requiredEnv "HOME_PROD_AWS_ACCESS_KEY_ID" }}"
HOME_AWS_ACCESS_SECRET_KEY: "{{ requiredEnv "HOME_PROD_AWS_ACCESS_SECRET_KEY" }}"
HOME_AWS_ENDPOINT: "{{ requiredEnv "HOME_PROD_AWS_ENDPOINT" }}"
HOME_AWS_BUCKET: "{{ requiredEnv "HOME_PROD_AWS_BUCKET" }}"
HOME_AWS_SUBFOLDER_NAME: "{{ requiredEnv "HOME_PROD_AWS_SUBFOLDER_NAME" }}"
HOME_AWS_REGION: "{{ requiredEnv "HOME_PROD_AWS_REGION" }}"

HOME_SYNCHRONIZER_SCHEDULE: "{{ requiredEnv "HOME_PROD_SYNCHRONIZER_SCHEDULE" }}"
HOME_SYNCHRONIZER_ENABLED: "{{ requiredEnv "HOME_PROD_SYNCHRONIZER_ENABLED" }}"
HOME_SYNCHRONIZER_ENV_REPOSITORY: "{{ requiredEnv "HOME_PROD_SYNCHRONIZER_ENV_REPOSITORY" }}"
HOME_SYNCHRONIZER_PATH_TO_HELMFILE: "{{ requiredEnv "HOME_PROD_SYNCHRONIZER_PATH_TO_HELMFILE" }}"
HOME_SYNCHRONIZER_CONFIGMAP_NAME: "{{ requiredEnv "HOME_PROD_SYNCHRONIZER_CONFIGMAP_NAME" }}"

HOME_BACKUPS_SCHEDULE: "{{ requiredEnv "HOME_PROD_BACKUPS_SCHEDULE" }}"
HOME_S3_BACKUPS_FILENAME_PREFIX: "{{ requiredEnv "HOME_PROD_S3_BACKUPS_FILENAME_PREFIX" }}"
HOME_DB_BACKUPS_FILENAME_PREFIX: "{{ requiredEnv "HOME_PROD_DB_BACKUPS_FILENAME_PREFIX" }}"
HOME_BACKUPS_AWS_BUCKET: "{{ requiredEnv "HOME_PROD_BACKUPS_AWS_BUCKET" }}"
HOME_BACKUPS_AWS_ACCESS_KEY_ID: "{{ requiredEnv "HOME_PROD_BACKUPS_AWS_ACCESS_KEY_ID" }}"
HOME_BACKUPS_AWS_ACCESS_SECRET_KEY: "{{ requiredEnv "HOME_PROD_BACKUPS_AWS_ACCESS_SECRET_KEY" }}"

HOME_DATABASE_HOST: "{{ requiredEnv "HOME_PROD_DATABASE_HOST" }}"
HOME_DATABASE_PORT: "{{ requiredEnv "HOME_PROD_DATABASE_PORT" }}"
HOME_DATABASE_NAME: "{{ requiredEnv "HOME_PROD_DATABASE_NAME" }}"
HOME_DATABASE_USERNAME: "{{ requiredEnv "HOME_PROD_DATABASE_USERNAME" }}"
HOME_DATABASE_PASSWORD: "{{ requiredEnv "HOME_PROD_DATABASE_PASSWORD" }}"

HOME_APP_KEYS: "{{ requiredEnv "HOME_PROD_APP_KEYS" }}"
HOME_API_TOKEN_SALT: "{{ requiredEnv "HOME_PROD_API_TOKEN_SALT" }}"
HOME_ADMIN_JWT_SECRET: "{{ requiredEnv "HOME_PROD_ADMIN_JWT_SECRET" }}"
HOME_TRANSFER_TOKEN_SALT: "{{ requiredEnv "HOME_PROD_TRANSFER_TOKEN_SALT" }}"
HOME_JWT_SECRET: "{{ requiredEnv "HOME_PROD_JWT_SECRET" }}"
HOME_CMS_ALLOWED_IP_ADDRESSES_WHITELIST: "{{ requiredEnv "HOME_PROD_CMS_ALLOWED_IP_ADDRESSES_WHITELIST" }}"

HOME_PREVIEW_SECRET: "{{ requiredEnv "HOME_PROD_PREVIEW_SECRET" }}"


HOME_INIT_ADMIN_USERNAME: "{{ requiredEnv "HOME_PROD_INIT_ADMIN_USERNAME" }}"
HOME_INIT_ADMIN_PASSWORD: "{{ requiredEnv "HOME_PROD_INIT_ADMIN_PASSWORD" }}"
HOME_INIT_ADMIN_FIRSTNAME: "{{ requiredEnv "HOME_PROD_INIT_ADMIN_FIRSTNAME" }}"
HOME_INIT_ADMIN_LASTNAME: "{{ requiredEnv "HOME_PROD_INIT_ADMIN_LASTNAME" }}"
HOME_INIT_ADMIN_EMAIL: "{{ requiredEnv "HOME_PROD_INIT_ADMIN_EMAIL" }}"

HOME_LETS_ENCRYPT_EMAIL: "{{ requiredEnv "HOME_PROD_LETS_ENCRYPT_EMAIL" }}"

HOME_MAILRU_EMAIL: "{{ requiredEnv "HOME_PROD_MAILRU_EMAIL" }}"
HOME_MAILRU_PASSWORD: "{{ requiredEnv "HOME_PROD_MAILRU_PASSWORD" }}"
HOME_SMARTCAPTCHA_SERVER_KEY: "{{ requiredEnv "HOME_PROD_SMARTCAPTCHA_SERVER_KEY" }}"

# It seems okto hardcode hostname because it will be public so it's not a secret
# TODO: hardcode other non-secret vars
HOME_URL_SHORTENER_HOSTNAME: "go.tourmalinecore.com"
HOME_URL_SHORTENER_BASE_PATH: ""
HOME_URL_SHORTENER_ALLOWED_IP_ADDRESSES_WHITELIST: "{{ requiredEnv "HOME_PROD_CMS_ALLOWED_IP_ADDRESSES_WHITELIST" }}"
