###########################################
#                   CMS                   #
###########################################

############################
# OS X
############################

cms/.DS_Store
cms/.AppleDouble
cms/.LSOverride
cms/Icon
cms/.Spotlight-V100
cms/.Trashes
cms/._*


############################
# Linux
############################

cms/*~


############################
# Windows
############################

cms/Thumbs.db
cms/ehthumbs.db
cms/Desktop.ini
cms/$RECYCLE.BIN/
cms/*.cab
cms/*.msi
cms/*.msm
cms/*.msp


############################
# Packages
############################

cms/*.7z
cms/*.csv
cms/*.dat
cms/*.dmg
cms/*.gz
cms/*.iso
cms/*.jar
cms/*.rar
cms/*.tar
cms/*.zip
cms/*.com
cms/*.class
cms/*.dll
cms/*.exe
cms/*.o
cms/*.seed
cms/*.so
cms/*.swo
cms/*.swp
cms/*.swn
cms/*.swm
cms/*.out
cms/*.pid


############################
# Logs and databases
############################

cms/.tmp
cms/*.log
cms/*.sql
cms/*.sqlite
cms/*.sqlite3


############################
# Misc.
############################

cms/*#
cms/ssl
cms/.idea
cms/nbproject
cms/public/uploads/*
!cms/public/uploads/.gitkeep

############################
# Node.js
############################

cms/lib-cov
cms/lcov.info
cms/pids
cms/logs
cms/results
cms/node_modules
cms/.node_history

############################
# Package managers
############################

cms/.yarn/*
!cms/.yarn/cache
!cms/.yarn/unplugged
!cms/.yarn/patches
!cms/.yarn/releases
!cms/.yarn/sdks
!cms/.yarn/versions
cms/.pnp.*
cms/yarn-error.log

############################
# Tests
############################

cms/coverage

############################
# Strapi
############################

cms/.env
cms/license.txt
cms/exports
cms/.strapi
cms/dist
cms/build
cms/.strapi-updater.json
cms/.strapi-cloud.json

# Playwright
cms/test-results/
cms/playwright-report/
cms/blob-report/
cms/playwright/.cache/
cms/playwright-report/playwright-test-results
cms/playwright-tests/playwright-test-results

###########################################
#                    UI                   #
###########################################

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# misc
ui/.DS_Store
ui/*.pem

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/.pnpm-debug.log*

# local env files
ui/.env*.local
ui/.env

# vercel
ui/.vercel

# typescript
ui/*.tsbuildinfo

# Playwright
ui/playwright-test-results/
ui/playwright-report/

# Sitemap and robots
ui/robots.txt
ui/sitemap.xml
ui/sitemap-*.xml
