name: Run Playwright tests

on: 
  push:
    branches:
      - feature/*

jobs:

  run-playwright-tests:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.18.0]

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: 'cms'
          sparse-checkout-cone-mode: false

      - name: ls
        run: ls