name: Publish DB Backupper Docker Image

on:
  push:
    branches:
      - master
      - feature/*
    paths:
      - db-backupper/**

jobs:
  build_db_backupper:
    uses: TourmalineCore/home-github-workflows/.github/workflows/docker-build-and-push.yml@feature/add_context_and_image_name_for_build_workflow
    with:
      context: ./db-backupper
      image-name: home-db-backupper
    # without this it cannot login to the registry
    secrets: inherit 