name: Publish Docker Image

on:
  push:
    branches:
      - master
      - feature/*

jobs:
  paths-filter:
    runs-on: ubuntu-24.04
    outputs:
      s3-backupper: ${{ steps.filter.outputs.s3-backupper }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check which files was changed
        uses: dorny/paths-filter@v3
        if: filter
        with:
          filters: |
            s3-backupper:
              - 's3-backupper/**'

  build_s3_backupper:
    needs: paths-filter
    if: needs.paths-filter.outputs.s3-backupper
    uses: TourmalineCore/home-github-workflows/.github/workflows/docker-build-and-push.yml@feature/add_context_for_build_workflow
    with:
      context: ./s3-backupper
      image-name: home-s3-backupper
    # without this it cannot login to the registry
    secrets: inherit 