name: Publish S3 Backupper Docker Image

on:
  push:
    branches:
      - master
      - feature/*
    paths:
      - s3-backupper/**

jobs:
  build_s3_backupper:
    uses: TourmalineCore/home-github-workflows/.github/workflows/docker-build-and-push.yml@feature/add_context_and_image_name_for_build_workflow
    with:
      context: ./s3-backupper
      image-name: home-s3-backupper
    # without this it cannot login to the registry
    secrets: inherit 