name: Publish Docker image for staging-env

on:
  push:
    branches:
      - master
      - feature/*
  # to allow to wait for a docker image to be published to proceed in another workflow
  workflow_call:

jobs:
  push_to_registry:
    uses: TourmalineCore/home-github-workflows/.github/workflows/docker-build-and-push.yml@feature/add_context_and_image_name_for_build_workflow
    with:
      context: ./ui
      image-name: home-ui
      # We use CDN at prod, that enabling or disabling only during build and can't be enabled/disabled at runtime.   
      # Prefix is used to build several images, the first one with disabled CDN for Local Env
      # the second and the third ones with enabled CDN and different CDN_DOMAIN's for Prod and Staging Envs
      prefix: "staging-env"
      # Build-args used to define variables that will be used in image
      build-args: |
        CDN_ENABLED=true
        CDN_DOMAIN=cdn.home.demo.tourmalinecore.com
        CORS_ORIGIN=https://home.demo.tourmalinecore.com
        ENABLE_SEO_INDEXING=false
    # without this it cannot login to the registry
    secrets: inherit